a, h1, h2       { color: #377ba8; }

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
        height: 60px;
	width: 100%;
}

html, body {
    margin: 0px;
    height: 100%;
}

div.faq {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}


p.answer {
    display: none;
}

body {
    background-image: url("/static/icons/dungeon.jpg");
}

div.page_content {
    padding: 20px;
    background-color: black;
    color: lightgray;
    border: 1px solid lightgray;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    min-height: 500px;
    font-family: "Ubuntu Mono";
}

div.box{
    min-height: 100%;
}

div.box {
    margin: 30px;
}


div.header, div.footer{
    margin: 0;
    position: relative;
    left: 0px;
    right: 0px;
    opacity: 1.0;
    border: 1px solid black;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

div.footer {
    background-image: url('/static/icons/footer.jpg');
    background-size: 100% 100%;
}


li.navbar {
	float: left;
}

li.navbar > a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.navbar > a:hover {
	background-color: #111;
}

li.navbar.right {
	float: right;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
	display :block 	!important;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.dropdown-content {
    z-index: 1;
}

.header_pic_container {
    width: 100%;
    background-image: url('/static/icons/burrow.jpg');
    background-size: 100% 100%;
    /*background-color: #4d004d;*/
}

#header_pic {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 0px;
}

h1.title {
    color: purple;
    font-family : "Aldrich";
    font-size: 300%;
    margin: 20px 0px 0px 20px;
}
